div= "普通の使い方"
= image_tag("box_b.png", :class => "daiku_preview")

div= "元は小さくてもプレビューは原寸となる"
= image_tag("box_b.png", :class => "daiku_preview", :width => 16)

div= "元は画像でなくてもよい"
= link_to("表示", image_path("box_b.png"), :class => "daiku_preview")

div= "box_a に合わせて box_b を表示"
= link_to(image_tag("box_a.png"), image_path("box_b.png"), :class => "daiku_preview")

div= "box_a に合わせて box_b を表示し、リンク先は別"
= link_to(image_tag("box_a.png"), root_path, :rel => image_path("box_b.png"), :class => "daiku_preview")

div= "透過PNGの場合"
= image_tag("box_c.png", :class => "daiku_preview")
= "a b c d"

/ div= "大きすぎる画像"
/ = image_tag("box_a.png", :class => "daiku_preview", :review_width => 128)
